<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">

<head>
    {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ end }}</title>
    {{ end }}
    {{ partial "head.html" . }}
</head>

<body>

    <!-- Force full width container for incidents section -->
    <div class="container full">

        {{ partial "header.html" . }}

        <div class="content">
            {{ block "main" . }}
            {{ end }}
        </div>

        {{ block "footer" . }}
        {{ partial "footer.html" . }}
        {{ end }}
    </div>

</body>

</html>